{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!--
<h1>Add User</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
-->
<div class="container-fluid ml-2 p-4">
    <h1>Add User</h1>
    <div class="row">
        <div class="col-sm-3 ">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}